    <ul class="list-group list-group-horizontal">
        @for (fila of filas; track fila.texto)
        {
            <li class="list-group-item"> {{fila.texto}} </li>
        } @empty {
            Empty list of media
        }
    </ul>

    <ul class="list-group list-group-horizontal">
        @for (fila of filas; track fila.texto)
        {
            <li class="list-group-item"> {{fila.texto}} </li>
        } @empty {
            Empty list of media
        }
    </ul>

    <ul class="list-group list-group-horizontal">
        @for (fila of filas; track fila.texto)
        {
            <li class="list-group-item"> {{fila.texto}} </li>
        } @empty {
            Empty list of media
        }
    </ul>